block vars
    - curPage
-
    let menu = [];

    if(curPage === '/'){
        menu = [
                {
                    'name': 'Favorite coffee',
                    'href': './#favorites'
                },
                {
                    'name': 'About',
                    'href': './#about'
                },
                {
                    'name': 'Mobile app',
                    'href': './#mobile-app'
                },
                {
                    'name': 'Contact us',
                    'href': './#footer'
                }
        ]
    } else{
        menu = [
            {
                'name': 'Favorite coffee',
                'href': './#favorites'
            },
            {
                'name': 'About',
                'href': './#about'
            },
            {
                'name': 'Mobile app',
                'href': './#mobile-app'
            },
            {
                'name': 'Contacts',
                'href': './#footer'
            }
        ]
    }

header.header
    .container
        .header__logo
            if curPage === '/'
                span(class="header__logo-link")
                    img(src=require('/assets/img/logo.svg'), alt="Coffee House")
            else
                a(href="./" class="header__logo-link")
                    img(src=require('/assets/img/logo.svg'), alt="Coffee House")
        .nav.header__menu.menu
            .menu__mobile.is-mobile
                .menu__icon
            .menu__wrapper
                ul.menu__list
                    each item in menu
                        li.menu__item
                            a(href=item.href class="menu__link") !{item.name}

                if curPage === '/'
                    .menu__coffee-menu
                        a(href='./menu.html' class="menu__link") Menu
                            .menu__coffee-menu-icon
                                img(src=require('/assets/img/header/coffee-cup.svg'), alt="icon coffee cup")
                else
                    .menu__coffee-menu
                        .menu__link-none Menu
                            .menu__coffee-menu-icon
                                img(src=require('/assets/img/header/coffee-cup.svg'), alt="icon coffee cup")

